cursor {
    xcursor-theme "BreezeX-RosePine-Linux"
    xcursor-size 32
}
layout {
    focus-ring {
        active-color "#d7827e"
        inactive-color "#9893a5"
        urgent-color "#b4637a"
    }

    border {
        active-color "#d7827e"
        inactive-color "#9893a5"
        urgent-color "#b4637a"
    }
}
